.page__logo {
  width: 270px;
  height: 70px;
  margin: auto;
  display: block;
  padding-top: 34px;
  padding-bottom: 91px;
}

@media screen and (max-width: 320px) {
  .page__logo {
    padding-bottom: 51px;
    width: 200px;
    height: 52px;
  }
}
  
}
