.place {
  display: grid;
  grid-template-columns: 460px 484px;
  column-gap: 40px;
  grid-template-areas:
    "place__title place__website"
    "place__image place__paragraph"
    "frame6 place__paragraph";
  padding-bottom: 80px;
  justify-content: center;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 355px 352px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 288px;
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__paragraph"
      "frame6";
    padding-bottom: 16px;
  }
}
