.frame6 {
  grid-area: frame6;
  background: #0278fe;
  border-radius: 4px;
  width: 355px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame6:hover {
  background: #0063d2;
}

@media screen and (max-width: 328px) {
  .frame6 {
    width: 288px;
  }
}
