.place__title {
  grid-area: place__title;
  font-family: "Inter";
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: white;
  padding-bottom: 48px;
  margin: 0;
}

@media screen and (max-width: 987px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    padding-bottom: 46px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 30px;
  }
}
