.cover {
  width: 1184px;
  height: 740px;
  background-image: url(../../images/__background.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: white;
  gap: 32px;
}
