.footer {
  font-family: "Inter";
  font-size: 14px;
  line-height: 16px;
  color: white;
  text-align: center;
  padding-top: 92px;
  padding-bottom: 24px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-top: 64px;
  }
}
